body {
    margin: 10px;
    padding: 0;

    font-family: monospace;
    font-size: 18px;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0 0 0 35px;
}

li {
    margin: 0;
}

li + li {
    margin-top: 10px;
}

.document-section + .document-section {
    margin-top: 20px;
}

.document-section__header {
    margin: 0 0 15px 0;
}

.document-section__header_no-margin {
    margin-bottom: 0;
}

.summary__text {
    margin: 0;
}

.back-link-container {
    font-size: 24px;
    font-weight: lighter;
    margin: 0 0 10px 0;
}
