<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8" />
        <style>
            body {
                font-family: monospace;
            }
        </style>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
