{{#extend "layout" page="index"}}
    {{#content "head"}}
        <meta name="google-site-verification" content="R71LZgXmhewXH4QOZl3IzTLY7iM7b2cq_rs7IQZIdzY" />
        <meta name="yandex-verification" content="dfae451ced86a851">
    {{/content}}

    {{#content "content"}}
        <section class="document-section">
            <header>
                <h2 class="document-section__header">Follow me on</h2>
            </header>
            <ul>
                {{#each socialNetworks}}
                    <li>
                        <strong>{{this.title}}:</strong>
                        <a href="{{this.url}}" target="_blank" rel="noopener">
                            {{this.login}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </section>

        <section class="document-section">
            I have a
            <!--suppress HtmlUnknownTarget -->
            <a href="wish-list.html">wish list</a>
        </section>
    {{/content}}
{{/extend}}
