{{#extend "layout" page="wishList" lang="ru" headerNoMargin=true}}
    {{#content "content"}}
        <section class="wish-list-container document-section">
            <ul class="wish-list">
                {{#each wishList}}
                    <li class="wish-list__item">
                        <a class="wish-list__link" href="{{this.link}}" target="_blank" rel="noopener">
                            {{this.title}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </section>
    {{/content}}
{{/extend}}
