<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="R71LZgXmhewXH4QOZl3IzTLY7iM7b2cq_rs7IQZIdzY" />

        <link rel="stylesheet" href="assets/styles.css">
        <link rel="shortcut icon" href="assets/favicon.ico" type="image/vnd.microsoft.icon">
    </head>
    <body class="page">
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function(d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter32861550 = new Ya.Metrika({
                            id: 32861550,
                            clickmap: true,
                            trackLinks: true,
                            accurateTrackBounce: true
                        });
                    } catch (e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                        s = d.createElement("script"),
                        f = function() { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript>
            <div><img src="https://mc.yandex.ru/watch/32861550" style="position:absolute; left:-9999px;" alt="" /></div>
        </noscript>
        <!-- /Yandex.Metrika counter -->

        <section class="summary document-section">
            <header>
                <h1 class="summary__header document-section__header document-section__header_no-margin">Wish list</h1>
                <div class="back-link-container"><a href="." class="back-link">←</a></div>
            </header>
        </section>
        <section class="wish-list-container document-section">
            <ul class="wish-list">
                {{#each wishList}}
                    <li class="wish-list__item">
                        <a class="wish-list__link" href="{{this.link}}" target="_blank" rel="noopener">
                            {{this.title}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </section>
    </body>
</html>
